[Unit]
Description=Apache ActiveMQ Message Broker
After=network-online.target

[Service]
Environment="JAVA_HOME=/usr/local/java"
Environment="ACTIVEMQ_OPTS_MEMORY=-Xms1G -Xmx2G"
Type=forking

User=activemq
Group=activemq

WorkingDirectory=/usr/local/apache-activemq-5.18.4/bin
ExecStart=/usr/local/apache-activemq-5.18.4/bin/activemq start
ExecStop=/usr/local/apache-activemq-5.18.4/bin/activemq stop
Restart=on-abort

[Install]
WantedBy=multi-user.target