# Systemd unit file for labkey_server.

[Unit]
Description=LabKey Server Application
After=syslog.target network.target

[Service]
Type=simple
AmbientCapabilities=CAP_NET_BIND_SERVICE
EnvironmentFile=/usr/local/etc/labkey/labkey_server.env
WorkingDirectory=/usr/local/labkey
OOMScoreAdjust=-500

ExecStart=/usr/local/etc/labkey/labkeyServerStartup.sh

SuccessExitStatus=0 143
Restart=no
RestartSec=15

User=labkey
Group=labkey

[Install]
WantedBy=multi-user.target
