# Systemd unit file for labkey_server.

[Unit]
Description=LabKey Server Application
After=syslog.target network.target

[Service]
Type=simple
EnvironmentFile=/usr/local/labkey/configuration/labkey_server.env
WorkingDirectory=/usr/local/labkey
OOMScoreAdjust=-500

ExecStart=/usr/local/labkey/configuration/startup.sh

SuccessExitStatus=0 143
Restart=no
RestartSec=15

User=labkey
Group=labkey

[Install]
WantedBy=multi-user.target
