# Systemd unit file for labkey_server.

[Unit]
Description=LabKey Server Application
After=syslog.target network.target

[Service]
Type=simple
Environment="JAVA_HOME=/usr/lib/jvm/jdk-17.0.10+7"
Environment="LABKEY_HOME=/user/local/labkey"
Environment="PATH=$JAVA_HOME/bin:/usr/bin:/usr/sbin:$LABKEY_HOME/bin"

Environment="JAVA_FLAGS_JAR_OPS=-Dorg.apache.catalina.startup.EXIT_ON_INIT_FAILURE=true -DterminateOnStartupFailure=true"
Environment="JAVA_REFLECTION_JAR_OPS=--add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.util.concurrent=ALL-UNNAMED --add-opens=java.rmi/sun.rmi.transport=ALL-UNNAMED"
WorkingDirectory=$LABKEY_HOME
OOMScoreAdjust=-500

ExecStart=/usr/lib/jvm/jdk-17.0.10+7/bin/java \
	-Xms2G \
	-Xmx8G \
	-XX:+HeapDumpOnOutOfMemoryError \
	-XX:HeapDumpPath=$LABKEY_HOME/labkey-tmp \
	-Djava.io.tmpdir=$LABKEY_HOME/labkey-tmp \
	-DsequencePipelineEnabled=true \
	$JAVA_FLAGS_JAR_OPS \
	$JAVA_REFLECTION_JAR_OPS \
	-jar labkeyServer.jar

SuccessExitStatus=0 143
Restart=on-failure
RestartSec=15

User=mgaplabkey
Group=mgaplabkey

[Install]
WantedBy=multi-user.target
